<form name="lForm" ng-submit="next()">

<div class="modal-header">
	<h3 class="modal-title">Create Question</h3>
</div>


<div class="modal-body">
	<div>    
		Ask a question about:
		<select required name="category" ng-model="questionForm.categoryId">
			<option ng-repeat="category in categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
		</select>

	      <select required ng-model="questionForm.questionType">
		   <option value="what">What</option>
		   <option value="where">Where</option>
		   <option value="when">When</option>
		   <option value="who">Who</option>
	      </select>
	      <input required type="text" name="question" ng-model="questionForm.questionText">
	      <span>?</span>
	</div>
</div>

<div class="modal-footer">
	<button ng-disabled="!lForm.$valid" class="btn btn-primary">Next</button>
</div>

