                                        <div class="jumbotron" style="background-color:white;">
                                          <h1>Hello, world!</h1>
                                          <p>
                                          This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                                          </p>
                                          <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
                                        </div>



<h3>What's been happening</h3>
<div class="the-timeline">
							<ul>
								<li>
									<div class="the-date">
										<span>21</span>
										<small>July</small>
									</div>
									<h4>Lorem ipsum dolor!</h4>
									<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									</p>
								</li>
								<li>
									<div class="the-date">
										<span>31</span>
										<small>Jun</small>
									</div>
									<h4>Learn how to Theebo</h4>
									<div class="videoWrapper">
									<iframe src="//player.vimeo.com/video/85847275?title=0&amp;byline=0&amp;portrait=0"></iframe>
									</div>
									<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									</p>
								</li>
								<li>
									<div class="the-date">
										<span>20</span>
										<small>May</small>
									</div>
									<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
									</p>
								</li>
							</ul>
						</div>


