<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller="AppController" ng-app="app" id="ng-app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-controller="AppController" ng-app="app" id="ng-app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-controller="AppController" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-controller="AppController" ng-app="app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title title-metatag string="pageTitle"></title>
        <meta name="description" content="{{pageDescription || 'My Description'}}" />
        <meta name="keywords" content="{{pageKeywords || 'My Keywords'}}"/>
        <meta name="robots" content="noindex, nofollow" ng-if="noFollow()" />
        <meta name="prerender-status-code" content="404" ng-if="pageType == '404'" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="fragment" content="!" />

        <meta property="fb:app_id" content="MyID" /> 
        <meta property="og:site_name" content="MySite" /> 
        <meta property="og:url" content="{{pageUrl || 'http://mydomain.com'}}" /> 
        <meta property="og:title" content="{{pageTitle || 'My Page Title'}}" /> 
        <meta property="og:image" content="{{pageImage || 'myimage'}}" /> 
        <meta property="og:description" content="{{pageDescription || 'My Description'}}" />
        <meta name="twitter:card" content="summary">


        <!-- @if ENVIRONMENT == 'DEVELOPMENT' -->
        <!-- @endif -->

        <!-- @if ENVIRONMENT == 'PRODUCTION' -->
            <link rel="stylesheet" href="/assets/global.css?ts=<!-- @echo TS -->" type="text/css" />
            <script src="/assets/dependencies.js?ts=<!-- @echo TS -->" type="text/javascript"></script>
        <!-- @endif -->

    </head>
    <body>

        <header>

        </header>

        <div id="content">

            <div ng-view></div>

        </div>

        <footer>

        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXXXX', 'mydomain.com');
        </script>

        <!-- @if ENVIRONMENT == 'DEVELOPMENT' -->
        <!-- @endif -->

        <!-- @if ENVIRONMENT == 'PRODUCTION' -->
            <script src="/assets/app.min.js?ts=<!-- @echo TS -->" type="text/javascript"></script>
        <!-- @endif -->
    </body>
</html>
